<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="3" >
 <listeners>
    <listener class-name="com.karan.listeners.ListenerClass" />
    <listener class-name="com.karan.listeners.AnnotationTransformer" />
  </listeners>

  <test thread-count="1" name="Test" parallel="false">
    <classes>
      <class name="com.karan.tests.AddUsersTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->